<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crv.erais.dao.OrganizationalMapper">
    <resultMap id="UserMap" type="com.crv.erais.model.Organizational">
        <result property="user" column="user"/>
        <result property="id" column="id"/>
        <result property="parentId" column="parentId"/>
    </resultMap>
    <sql id="columns">
        NAME AS name,
        ID AS id,
        PARENT_ID AS parentId
    </sql>
    <select id="list" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            ERAIS_ORGANIZATIONAL 
    </select>
    
    <select id="pageList" resultMap="UserMap">
        SELECT
            <include refid="columns" />
        FROM
            ERAIS_ORGANIZATIONAL 
    </select>
</mapper>
